<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="PMEncrypter" Language="1033" Version="1.0.0.0" Manufacturer="Student">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PMEncrypter"/>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="PMEncrypter" Level="1">
      <ComponentRef Id="ProductComponent"/>
    </Feature>
    <Component Id="ProductComponent" Directory="INSTALLFOLDER">
      <File Id="ProductFile" Source="publish/PMEncrypter.exe"/>
    </Component>
  </Product>
</Wix>
